@page
@using RazorEFDBFirst24Starter.Interfaces;
@model RazorEFDBFirst24Starter.Pages.Countries.IndexCountryModel
@inject ICountryService repository
@{
    ViewData["Title"] = "IndexCountry";
}


<h3>List of contries </h3>
<p>
    <a asp-page="CreateCountry">Create New Country</a>
</p>


    @* <div>
        <ul>
            <li> There are @repository.GetAllCountries().Count countries</li>
        </ul>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th>
                Population
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Countries)
        {
            <tr>
                <td>
                    @item.Code
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.PopulationNumber
                </td>
                <td>
                    <a asp-page="/Events/CreateEvent" asp-route-Code="@item.Code">New Event</a> |

                    <a asp-page="/Events/IndexEvent" asp-page-handler="MyEvents" asp-route-code="@item.Code">My Events </a>|

                    <a asp-page="DeleteCountry" asp-route-Code="@item.Code">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table> *@
